.heading
{
    font-size: 20px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Architects Daughter', cursive;
}
#note
{
    font-size: 17px;
    color: black;
    font-family: 'Pattaya', sans-serif;
}
.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}